# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dani da Cruz\Documents\Schule\FHNW\3. Semester\OOPI2_Uebungen\Probeprüfung\festim-jetishi-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
